.layout-overview{
    height:100%;
    width: 100%;
    .side_panel{
        flex: 0 0 10%;
        height:100%;
        width: 100%;
        }
    .dashboard{
        flex: 0 0 90%;
        height:100%;
        width: 100%;
        background: white;
        .o_dashboard_container{
            height:100%;
            overflow-y: auto;
            }
        }
    }

.layout-overview-mobile{
    height: 100%;
    overflow: auto;
    display:flex;
    flex-direction:column;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    background: #FFFFFF;
    .dashboard_mobile{
        padding-top: 12px;
        }
    }